.main {
  width: 90%;
  padding: 1.25rem 0.625rem; /* 20px 10px */
  margin: 0 auto;
  margin-top: 4rem;
}

.greet-main {
  width: 90%;
  padding: 1.25rem 0.625rem; /* 20px 10px */
  margin: 0 auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 1.25rem 0.625rem; /* 20px 10px */
  margin: 0 auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 1.875rem; /* 30px */
}

.button-greeting-div {
  display: flex;
  margin-top: 1.25rem; /* 20px */
}

.greeting-text {
  margin-top: 5rem; /* 80px */
  font-size: 3.4375rem; /* 55px */
  line-height: 1.1;
  font-family: "Poppins";
}

.greeting-nickname {
  font-size: 1.5625rem; /* 25px */
  line-height: 0;
  font-family: "Poppins";
}

.greeting-text-p {
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
  margin-right: 2.5rem; /* 40px */
  font-family: "Poppins";
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

/* Media Query for screens smaller than 1380px */
@media (max-width: 86.25rem) {
  /* 1380px */
  .greeting-text {
    font-size: 1.875rem; /* 30px */
  }
  .greeting-text-p {
    font-size: 0.9375rem !important; /* 15px */
  }
}

/* Media Query for screens smaller than 768px */
@media (max-width: 48rem) {
  /* 768px */
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 1.5625rem; /* 25px */
    margin-top: 0;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 1.5625rem; /* 25px */
    text-align: center;
  }
  .greeting-text-p {
    font-size: 1rem; /* 16px */
    margin-right: 0;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
